{{- if .Values.controllers.cronjob.enabled }}
{{- include "cnpg-backup.validateValues" . -}}
{{- $cronjob := .Values.controllers.cronjob -}}
{{- $root := . -}}

apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "cnpg-backup.cronjobName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cnpg-backup.labels" . | nindent 4 }}
    {{- if $cronjob.labels -}}
    {{- toYaml $cronjob.labels | nindent 4 }}
    {{- end }}
  annotations:
    {{- if $cronjob.annotations -}}
    {{- toYaml $cronjob.annotations | nindent 4 }}
    {{- end }}
    description: "Scheduled PostgreSQL backup job for CNPG cluster"
spec:
  schedule: {{ $cronjob.schedule | quote }}
  successfulJobsHistoryLimit: {{ $cronjob.successfulJobsHistoryLimit | default 3 }}
  failedJobsHistoryLimit: {{ $cronjob.failedJobsHistoryLimit | default 3 }}
  concurrencyPolicy: {{ $cronjob.concurrencyPolicy | default "Forbid" }}
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: backup
              image: ghcr.io/itbm/postgresql-backup-s3:latest
              env:
              - name: POSTGRES_HOST
                valueFrom:
                  secretKeyRef:
                    name: {{ $root.Values.cnpg.secretName }}
                    key: host
              - name: POSTGRES_PORT
                valueFrom:
                  secretKeyRef:
                    name: {{ $root.Values.cnpg.secretName }}
                    key: port
              - name: POSTGRES_DATABASE
                valueFrom:
                  secretKeyRef:
                    name: {{ $root.Values.cnpg.secretName }}
                    key: dbname
              - name: POSTGRES_USER
                valueFrom:
                  secretKeyRef:
                    name: {{ $root.Values.cnpg.secretName }}
                    key: username
              - name: POSTGRES_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: {{ $root.Values.cnpg.secretName }}
                    key: password
              - name: S3_BUCKET
                valueFrom:
                  secretKeyRef:
                    name: {{ $root.Values.s3.secretName }}
                    key: S3_BUCKET_NAME
              - name: S3_ACCESS_KEY_ID
                valueFrom:
                  secretKeyRef:
                    name: {{ $root.Values.s3.secretName }}
                    key: S3_ACCESS_KEY_ID
              - name: S3_SECRET_ACCESS_KEY
                valueFrom:
                  secretKeyRef:
                    name: {{ $root.Values.s3.secretName }}
                    key: S3_SECRET_ACCESS_KEY
              - name: AWS_SESSION_TOKEN
                valueFrom:
                  secretKeyRef:
                    name: {{ $root.Values.s3.secretName }}
                    key: AWS_SESSION_TOKEN
              - name: S3_REGION
                valueFrom:
                  secretKeyRef:
                    name: {{ $root.Values.s3.secretName }}
                    key: S3_REGION_NAME
          restartPolicy: OnFailure
{{- end }}
