{{- if and .Values.controllers.job.enabled .Values.restore.object }}
{{- include "cnpg-backup.validateValues" . -}}
{{- $job := .Values.controllers.job -}}
{{- $root := . -}}

{{- /* Build image specification */ -}}
{{- $imageSpec := dict -}}
{{- if $job.image -}}
  {{- $imageSpec = $job.image -}}
{{- else -}}
  {{- $imageSpec = .Values.image -}}
{{- end -}}
{{- $image := include "cnpg-backup.image" (dict "rootContext" $root "imageSpec" $imageSpec) -}}

{{- $imagePullPolicy := "IfNotPresent" -}}
{{- if $job.image.pullPolicy -}}
{{- $imagePullPolicy = $job.image.pullPolicy -}}
{{- end -}}

{{- $securityContext := dict -}}
{{- if $job.securityContext -}}
{{- $securityContext = $job.securityContext -}}
{{- else -}}
{{- $securityContext = dict "runAsNonRoot" true "runAsUser" 999 "runAsGroup" 999 "allowPrivilegeEscalation" false -}}
{{- end -}}

{{- $serviceAccountName := "" -}}
{{- if $job.serviceAccountName -}}
{{- $serviceAccountName = $job.serviceAccountName -}}
{{- else if and .Values.rbac.create .Values.rbac.serviceAccountName -}}
{{- $serviceAccountName = .Values.rbac.serviceAccountName -}}
{{- else if .Values.rbac.create -}}
{{- $serviceAccountName = include "cnpg-backup.fullname" . -}}
{{- end -}}

apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "cnpg-backup.restoreJobName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cnpg-backup.labels" . | nindent 4 }}
    {{- if $job.labels -}}
    {{- toYaml $job.labels | nindent 4 }}
    {{- end -}}
  annotations:
    {{- if $job.annotations -}}
    {{- toYaml $job.annotations | nindent 4 }}
    {{- end -}}
    description: "PostgreSQL restore job for CNPG cluster from S3 backup"
spec:
  ttlSecondsAfterFinished: {{ $job.ttlSecondsAfterFinished | default 300 }}
  backoffLimit: {{ $job.backoffLimit | default 4 }}
  {{- with $job.activeDeadlineSeconds }}
  activeDeadlineSeconds: {{ . }}
  {{- end }}
  {{- with $job.completions }}
  completions: {{ . }}
  {{- end }}
  {{- with $job.parallelism }}
  parallelism: {{ . }}
  {{- end }}
  template:
    metadata:
      labels:
        {{- include "cnpg-backup.selectorLabels" . | nindent 12 }}
        {{- if $job.podLabels -}}
        {{- toYaml $job.podLabels | nindent 12 }}
        {{- end -}}
      {{- with $job.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 12 }}
      {{- end }}
    spec:
      {{- if $serviceAccountName }}
      serviceAccountName: {{ $serviceAccountName }}
      {{- end }}
      {{- if $job.automountServiceAccountToken }}
      automountServiceAccountToken: {{ $job.automountServiceAccountToken }}
      {{- end }}
      {{- if $job.podSecurityContext }}
      securityContext:
        {{- toYaml $job.podSecurityContext | nindent 12 }}
      {{- end }}
      {{- with $job.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 12 }}
      {{- end }}
      {{- with $job.tolerations }}
      tolerations:
        {{- toYaml . | nindent 12 }}
      {{- end }}
      {{- with $job.affinity }}
      affinity:
        {{- toYaml . | nindent 12 }}
      {{- end }}
      {{- with $job.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 12 }}
      {{- end }}
      restartPolicy: Never
      {{- if $job.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ $job.terminationGracePeriodSeconds }}
      {{- end }}
      containers:
        - name: restore
          image: {{ $image }}
          imagePullPolicy: {{ $imagePullPolicy }}
          {{- with $job.resources }}
          resources:
            {{- toYaml . | nindent 16 }}
          {{- end }}
          securityContext:
            {{- toYaml $securityContext | nindent 16 }}
          env:
              value: /tools/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.cnpg.secretName }}
                  key: host
            - name: POSTGRES_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.cnpg.secretName }}
                  key: port
            - name: POSTGRES_DATABASE
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.cnpg.secretName }}
                  key: dbname
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.cnpg.secretName }}
                  key: username
            - name: POSTGRES_PASSWORD
                - name: S3_BUCKET
                  valueFrom:
                    secretKeyRef:
                      name: {{ $root.Values.s3.secretName }}
                      key: S3_BUCKET_NAME
                - name: RESTORE_FILE
                  value: "{{ .Values.restore.object }}"
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.cnpg.secretName }}
                  key: password
            - name: FORCE_RESTORE
              value: {{ $root.Values.restore.force | toString | quote }}
            # Map Terraform S3_* keys to AWS_* keys for scripts
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.s3.secretName }}
                  key: S3_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.s3.secretName }}
                  key: S3_SECRET_ACCESS_KEY
            # Use region from values, fallback to secret
            {{- if $root.Values.s3.region }}
            - name: S3_REGION
              value: {{ $root.Values.s3.region }}
            - name: AWS_DEFAULT_REGION
              value: {{ $root.Values.s3.region }}
            {{- else }}
            - name: S3_REGION
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.s3.secretName }}
                  key: S3_REGION_NAME
            - name: AWS_DEFAULT_REGION
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.s3.secretName }}
                  key: S3_REGION_NAME
            {{- end }}
          volumeMounts:
            - name: tmp
              mountPath: /tmp
      volumes:
            defaultMode: 0755
          emptyDir: {}
{{- end }}