{{- if and .Values.controllers.job.enabled .Values.restore.object }}
{{- include "cnpg-backup.validateValues" . -}}
{{- $job := .Values.controllers.job -}}
{{- $root := . -}}

apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "cnpg-backup.restoreJobName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cnpg-backup.labels" . | nindent 4 }}
    {{- if $job.labels -}}
    {{- toYaml $job.labels | nindent 4 }}
    {{- end }}
  annotations:
    {{- if $job.annotations -}}
    {{- toYaml $job.annotations | nindent 4 }}
    {{- end }}
    description: "PostgreSQL restore job for CNPG cluster from S3 backup"
spec:
  ttlSecondsAfterFinished: {{ $job.ttlSecondsAfterFinished | default 300 }}
  backoffLimit: {{ $job.backoffLimit | default 4 }}
  template:
    spec:
      containers:
        - name: restore
          image: ghcr.io/itbm/postgresql-backup-s3:latest
          command: ["/restore.sh"]
          env:
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.cnpg.secretName }}
                  key: host
            - name: POSTGRES_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.cnpg.secretName }}
                  key: port
            - name: POSTGRES_DATABASE
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.cnpg.secretName }}
                  key: dbname
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.cnpg.secretName }}
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.cnpg.secretName }}
                  key: password
            - name: S3_BUCKET
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.s3.secretName }}
                  key: S3_BUCKET_NAME
            - name: S3_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.s3.secretName }}
                  key: S3_ACCESS_KEY_ID
            - name: S3_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.s3.secretName }}
                  key: S3_SECRET_ACCESS_KEY
            - name: AWS_SESSION_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.s3.secretName }}
                  key: AWS_SESSION_TOKEN
            - name: S3_REGION
              valueFrom:
                secretKeyRef:
                  name: {{ $root.Values.s3.secretName }}
                  key: S3_REGION_NAME
            - name: BACKUP_FILE
              value: "{{ .Values.restore.object }}"
      restartPolicy: Never
{{- end }}
